<header id="header"><!--header-->
    <div class="header-middle"><!--header-middle-->
	    <div class="container">
		    <div class="row">
			    <div class="col-sm-4">
				    <div class="logo pull-left">
					    <a href="/"><img src="/assets/home/logo.png" alt="" /></a>
				    </div>						
			    </div>
			    <div class="col-sm-8">
				    <div class="shop-menu pull-right">
					    <ul class="nav navbar-nav">
						    <li><a href="#"><i class="fa fa-star"></i> Users</a></li>						    
					    </ul>
				    </div>
			    </div>
		    </div>
	    </div>
    </div><!--/header-middle-->

    <div class="header-bottom"><!--header-bottom-->
    </div><!--/header-bottom-->
</header><!--/header-->